body{
    background-image: url("BMW12.jpg");
    background-size: cover;
}
main{
    background-color: rgba(255, 255, 255, 0.644);
    width: 800px;
    margin:auto;
    text-align: center;
}

h1{
    text-align: center;
    color: rgb(239, 248, 248);
}
.row{
    margin: 20px;
    padding: 10px;
}


#cenaS{
    font-size: 40px;
    font-weight: bolder;
    color:tomato  ;
}